.card_movie {
    width: 100%;
    max-width: 628px;

    display: flex;
    align-items: center;
    gap: 34px;
}

.card_movie
.img_movie img {
    width: 171px;
    height: 243.773px;
}

.card_movie
.message p {
    width: 100%;
    max-width: 387px;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);

    margin-bottom: 19.04px;
}

@media (max-width: 700px) {
    .card_movie
    .message p {
        text-align: center;
    }
}